# === PYTHON ===
__pycache__/
*.pyc
*.pyo
*.pyd
*.DS_Store

# === LAMBDA BUILD ARTIFACTS ===
build-lambda/
package/
lambda.zip

# === VENV ===
.venv/
env/
venv/

# === TERRAFORM ===
terraform.tfstate
terraform.tfstate.backup
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
tfplan

# === CREDENTIALS / ENV VARS ===
*.tfvars
*.env
.env.local
.env.*
secrets.json

# === OS / EDITOR JUNK ===
Thumbs.db
*.log
